Flask==3.0.0
Werkzeug==3.0.0
click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
openpyxl==3.1.5
# Optional packages untuk production
# Gunicorn==21.2.0
# python-dotenv==1.0.0
# SQLAlchemy==2.0.20
